{% from 'macrofruta.html'  import macro_fruta %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Mercado Web</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="carrito.jpg" id= "carrito_modal" alt="carrito" width="30"height="24"style="background-color:green">
            </a>
        </div>
    </nav>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    
 
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body d-flex" id="fruta_modal">
                </div>
            </div>
        </div>
    </div>
    <h1>Bienvenido al Mercado Web, Seleccione sus productos!</h1>
    <div class="container">
        <div class="row">
            {% for fruta in frutas %}
                {{macro_fruta(fruta)}}
            {% endfor %}
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        
<script >
    let carrito=[]

    $(".imagen").click(function () {
        let imgsrc = $(this).attr('src');
        carrito.push(imgsrc);
        console.log('carrito', carrito);
        $("#fruta_modal").append(`
        <div class="col-4 d-flex flex-row " >
            <img src="${imgsrc}" class="w-100 d-inline">
        </div>

        `)
    });
        carrito = []
    function myfunction(){
    //  const fruta_seleccionada=document.getElementById("frutasModal");
        const fruta_seleccionada=document.getElementById("frutasModal").innerHTML="<img src=banana.png>"
    }
</script>
</body>
</html>



    